{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.post_github }}</a>
              <small class="text-muted">{{ post.completed }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.post_name }}</a></h2>
            <p class="article-content">{{ post.post_description }}</p>
            <small class="text-muted">{{ post.front_end }}</small>
            <small class="text-muted">{{ post.back_end }}</small>
            <small class="text-muted">{{ post.full_stack }}</small>

          </div>
        </article>
    {% endfor %}
{% endblock %}
