{% extends "layout.html" %}

{% block content %}
    <div>
        <h3>Sign Up</h3>
        <p id="pledge">By joining Positive Peeps, I pledge to stay positive in all my posts, messages, profile and interactions with Positive Peeps. I understand that Positive Peeps is a diverse community and will treat all with respect and positivity. By creating an account or logging in, I am agreeing to abide by this pledge.</p>
        <p id="steps"> Step 1. Sign Up</p>
        <p id="step2">Step 2. Log In</p>
        <p id="step3">Step 3. Create a new Profile</p>
        <p id="step4">Step 4. Create a new Post</p>
      
    </div>
{% endblock %}