<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="headings"><h1 id="pp">Positive Peeps</h1></header>

    <p id="pledge">By joining Positive Peeps, I pledge to stay positive in all my posts, messages, profile and interactions with Positive Peeps. I understand that Positive Peeps is a diverse community and will treat all with respect and positivity. By creating an account or logging in, I am agreeing to abide by this pledge.</p>

    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Create account</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    
      </form>

</body>
</html>