{% extends "layout.html" %}
{% block content %}
<div class="row">
<div class="col-xl-8">
</br>
 <div class="container-fluid align-content-lg-center">    <h1>Profiles</h1> </div>
</br>
    {% for profile in profiles %}
        <article class="media content-section">
          
          <div class="media-body">
            <div class="article-metadata">

            <a class="article-title">Username {{ profile.username }}</a>
            </div>
       
           <H3><p class="article-content" > {{ profile.fname }} {{ profile.lname }}</p></H3>
          </div>
          <a href="{{ url_for('profiles.profiles_show', username=profile.username) }}">More details</a>
        </article>
       
    {% endfor %}
  </div>
</div>
{% endblock content %}